@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
	ViewData["Title"] = "Edit Device";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Edit Device</title>
</head>
<body>
	<div class="container">
		<h1>Edit Device</h1>
		<div class="container">
			<form class="row g-3 needs-validation" method="post" asp-action="Edit">
				<div class="col-md-6 position-relative">
					<label for="DeviceCode" class="form-label">Device Code</label>
					<input type="text" name="DeviceCode" value="@Model.DeviceCode" class="form-control" required />
				</div>
				<div class="col-md-6 position-relative">
					<label for="DeviceName" class="form-label">Device name</label>
					<input type="text" name="DeviceName" value="@Model.DeviceName" class="form-control" required />
				</div>
				<div class="col-md-6 position-relative">
					<label for="CategoryName" class="form-label">Device Category</label>
					<select class ="form-select" name="CategoryName" required>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
				</div>
				<div class="col-md-6 position-relative">
					<div class="form-group">
						<label for="Status" class="form-label">Status</label>
						<select class="form-select" name="Status" required>
							<option value="In Use">In Use</option>
							<option value="Broken">Broken</option>
							<option value="UnderMaintenance">Under Maintenance</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 position-relative">
					<label for="DateOfEntry" class="form-label">Date of entry</label>
					<input type="text" name="DateOfEntry" class="form-control" value="@Model.DateOfEntry.ToString("dd-MM-yyyy")" required>
				</div>

				<div class="col-12">
					<button class="btn btn-primary" type="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>